<header class="header">
    <div class="container">
        <div class="header-content">
            <div class="logo">
                <a href="../index.html">
                    <img src="/img/logo-qualy-quimy.webp" alt="Tintas Qualy Quimy" width="200" height="60" loading="lazy">
                </a>
            </div>
            <nav class="nav">
                <ul class="nav-list">
                    <li><a href="../index.html">Início</a></li>
                    <li><a href="../categorias/tintas.html">Tintas</a></li>
                    <li><a href="../categorias/texturas.html">Texturas</a></li>
                    <li><a href="../categorias/massas.html">Massas</a></li>
                    <li><a href="../categorias/fundos.html">Fundos</a></li>
                    <li><a href="../categorias/acabamentos.html">Acabamentos</a></li>
                    <li><a href="../categorias/cidades.html">Cidades</a></li>
                    <li><a href="/blog/index.html">Blog</a></li>
                </ul>
            </nav>
            <div class="header-actions">
                <a href="https://wa.me/5511954950044?text=Olá!%20Tenho%20interesse%20nos%20produtos%20Qualy%20Quimy" class="btn-whatsapp" target="_blank">
                    <i class="icon-whatsapp"></i>
                    (11) 95495-0044
                </a>
            </div>
        </div>
    </div>
</header>
